.padre{
border: 5px solid rgb(0, 0, 0);
display: flex;
flex-wrap: wrap-reverse;
justify-content: center;

}

.hijo{
border: 2px solid red;
width: 200px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
/* align-content: center; */
/* text-align: center; */
/* por display, align-items, justify-content y da el mismo resultado */
}
