.padre{
border: 5px solid rgb(0, 0, 0);
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 400px;
align-items: center;
}

.hijo{
border: 2px solid red;
width: 200px;
}

img{
    width: 100px;
}

.menu{
border: 5px solid rgb(0, 0, 0);
display: flex;
justify-content:space-between;
}

.nieto{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
}

a{
    display: flex;
     border: 2px solid rgb(255, 211, 15);
     justify-items: center;
}