body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    text-align: center;
}

h1 {
    background-color: #9a96a0;
    color: #F9ECCC;
    border-left: 10px solid #ce3d15;
    text-align: center;
    font-size: 24px;
}

img {
    width: 35%;
    height: 35%;
    border: 3px solid #000000;
    align-items: center;
    border-radius: 45px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: block;
}


texto-imagen {
    font-size: 18px;
    text-align:center;
    font-weight: bold;
    color: #333;
}



ul {
    list-style-type: none;
    margin: 30px 0;
    text-align: center;
}


li {
    display: inline;
    border: 2px color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0))
}





 
  


