*{ 
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #F1F0FF;

}

body {
  text-align: center;
   margin-right: 0px;
  margin-left: 0px;
 


;
  
}


h1 {
  border-style: solid;
  border-width: 5px 0px;
  border-top: rgb(0, 0, 0);
  background-color: #C3C3E5;
  width: 100%;
  
}

img {
    
    border: 4px solid #000000;
    margin-right: 60px;
  
}

ul {
  list-style-type: none;
  margin: 30px 0;
  text-align: center;
}

li {
  display: inline;
  margin: 80px 0;
 border-left: 5px solid red
 
}

p {
  border-style: dashed;
  border-width: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 60px;
  margin-left: 60px;
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  text-align: justify;
  text-indent: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #C3C3E5;
  
}

#text p:first-child { 
 border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(173, 173, 186);
  background-image: url(../images/fondoParrafo.png);
  background-repeat: repeat;
  
}

#text p:last-child {
    border-top-left-radius: 0px;
  border-top-right-radius: 0px;
 border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color:#C3C3E5;
  
}

#menu {

}

#menu a{
padding-left: 3px;
padding-right: 3px;
text-decoration: none;
color: #8C489F
}


#menu li{

}

#menu li a:hover{
  text-decoration: underline;
  color: red;
}

#footer{
   border-top: 5px solid black;
    color: solid rgb(166, 0, 255);
    background-color: #443266;
    color: white;
    
}

#footer a{
  background-color: #443266;
  color: white;
  text-decoration: none;
}

#footer a:hover{
  
}
#image {
      text-align: right;
}

@media all and (max-width: 500px) {
    border-color: red; 
    width: 90%;
    margin: 0;
    
}