*{ 
  
}

body {
  text-align: center;
   margin-right: 150px;
  margin-left: 80px;
  
  
}


h1 {
  border-style: solid;
  border-width: 5px 0px;
  border-top: rgb(0, 0, 0);
  
}

img {
    
    border: 4px solid #000000;
    margin-right: 60px;

    
  
}

ul {

}

li {

}

p {
  border-style: dashed;
  border-width: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  
  
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  text-align: right;
  
  
}

#text p:first-child { 
 

  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {
      text-align: right;
}

@media all and (max-width: 500px) {

}
