*{
  margin: 0px auto;
}

body {
  background: url('../images/hytale0.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

#menu{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
}

#menu li{
display: inline;
height: 20px;
}

#menu a{
  color: white;
  text-decoration: none;
}

#menu li a:hover{
  text-decoration: underline blue;
  background-color: orange;
}

#header{
margin-top: 10px;
border: 2px solid rgb(246, 15, 15);
text-align: center;
color: white;
height: 500px;
padding-top: 10px;
background: url('../images/hytale.webp');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
font-family: 'Indie Flower', cursive;

}

#textCookie {
  text-align: center;
}

#cookieEU {
  position:absolute;
  width: 70%; 
  left: 15%;
  top: 35%;
  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#main{
  
  font-family: 'Indie Flower', cursive;
  overflow: auto;
  
}

#izquierda{
  float: left;
  width: 80%;
  border: #443266 solid 15px;
  text-align: center;
  
}

#menulateral{
  float: right;
  width: 15%;
  text-align: center;
  height: 835px;
  padding-top: 10px;
}

#menulateral li{
  list-style: none;
  height: 150px;
  
}

#prim {
  border: #535353 10px solid;
  text-align: center;
  height: 400px;
}



#primImagen{
  float: right;
  border: #053196 10px solid;
  text-align: center;
  height: 350px;
}

#primTexto{
  float: left;
  overflow-y: scroll;
  width: 50%;
  height: 300px;
  text-align: justify;
  border: 5px solid rgb(149, 23, 23);
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

#dos {
  border: #151515 10px solid;
  text-align: center;
  height: 400px;
}

#dosImagen{
  float: left;
  border: #053196 10px solid;
  text-align: center;
  height: 350px;
  
}

#dosTexto{
  float: right;
  overflow-y: scroll;
  width: 50%;
  height: 300px;
  text-align: justify;
  border: 5px solid rgb(149, 23, 23);
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
  
  
}

img{
  border-radius: 15%;
  border: dashed 5px #FF9900;
  margin: 10px;
}

img:hover{
background-color: #097054;
border: dashed 5px black;
}

.button {
  	background-color: #097054; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#footer{
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #443266;
  background-color: white;
  text-decoration: none;
}

#menulateral{
border: 2px solid rgb(0, 243, 247);
  
  font-family: 'Indie Flower', cursive;
  width: 15%;
  
}

@media all and (max-width: 500px) {

  #unoImagen{
    float: none;
  }

  #dosImagen{
    float: none;
  }

  #derecha{
    float: none;
  }

  #derecha li{
    display: inline;
  }
}

